
/*

=====================
HEADER STYLING
=====================

*/

header {
	  background: linear-gradient(#FAA20E, #E7833B);
	  padding: 30px 50px 120px 50px;
	  text-align:center;  
}

.top-bar, .top-bar ul {
    background-color: transparent;
    padding-bottom: 48px;
}

.header-logo {
	width:130px;
	height: 105px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


header h1 {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 70px;
	color:#fff;
}

header h2 {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 40px;
	color:#fff;
}




/*

=====================
FOOTER STYLING
=====================

*/

footer {
	  background: linear-gradient(#FAA20E, #E7833B);
	  padding: 50px;
	  text-align:center;  
}

.footer-logo {
	width:132px;
	height: 105px;
	margin-bottom: 50px;
}

footer h4 {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 20px;
	color:#fff;
}


/*

=====================
ABOUT MOVIE PAGE STYLING
=====================

*/

.movieinfo-header {
	background-image: url(../images/Rogue-One.jpg);
	width: 100vw;
	height: 100vh;

}

.info .wrapper{
  display:block;
  float:left;
  margin:50px auto 200px;
  width:100%;
  padding:0 5%;
  transform:skew(0deg,-5deg);
-ms-transform:skew(0deg,-10deg);
-webkit-transform:skew(0deg,-5deg); 
}


/*

=====================
MEDIA QUERIES
=====================

*/


@media screen and (max-width: 640px){

	header {
	  padding: 0px 21px 20px 21px;;
	  text-align:center;  
}
.menu-text, .menu-text a {
	padding:0;
}

.header-logo {
	width:52px;
	height: 42px;
}

.search-icon {
	width: 20px;
	height:20px;
}

header h1 {
	font-size: 35px;
	font-weight: 300;
	padding-bottom: 60px;
}

header h2 {
	display: none;
}

.top-bar, .top-bar ul {
    background-color: transparent;
    padding-bottom: 25px;
}



}







.skew {
	height: 400px;
	width: 450px;
	background-color: #fff;
	/*transform: rotate(5deg);*/
	/*margin-left:20px;
	margin-right:20px;*/
	padding:3px;
	margin:5px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   
}

.popular {
	margin:0;
	flex-flow: inherit;
	margin-bottom: 80px;
}



.image {
	/*padding:20px;*/
	height: 100%;
	width: 100%;

}

#rogue {
	background-color: #fff;
	    opacity: 0.9;
    margin-top: -161px;
    padding: 30px;
}

#rogue h2, h3, h4 {
	font-family: 'Oswald', sans-serif;
}

#rogue h2 {
	color: #000;
	font-weight: 400;
	font-size: 25px;
}

#rogue h3 {
	color: blue;
	font-weight: 300;
	font-size: 15px
}

#rogue h4 {
	color: grey;
	font-weight: 300;
	font-size: 15px
}

#floating-button {
color:#fff;
margin-top: -45px;
margin-left:355px;
background-color: orange;
padding: 5px;;
width: 40px;
height: 40px;
text-align: center;
z-index: 1;
border-radius: 50%;
position: relative;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


#floating-button h2 {
	font-size: 20px;
}

#floating-button h2 {
	font-size: 20px;
}